logs/
crash-reports/
banned-ips.json
banned-players.json
ops.json
usercache.json
usernamecache.json
whitelist.json
server.properties
world/
essential/loader/stage1/
simplebackups/
mods/oculus-mc1.19.2-1.6.9.jar
